In [2]:
#Rating promedio por estudio
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
movies = pd.read_csv('movies.csv', encoding="UTF-8")
studios = pd.read_csv('studios.csv', encoding="UTF-8")

#Merge de los dos dataframes juntando por id
merged = pd.merge(movies,studios, on="id", how="inner", suffixes =('_m','_s'))
merged_filtered = merged.dropna(subset=['rating'])
merged_filtered

,id,name,date,tagline,description,minute,rating,studio
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,LuckyChap Entertainment
1,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,Heyday Films
2,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,NB/GG Pictures
3,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,Mattel
4,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,Warner Bros. Pictures
...,...,...,...,...,...,...,...,...
250967,1156023,To Steal a Thief,1996.0,"Robert Gustafsson i en komedi om inbrott, avbr...",Roger is a failed petty criminal living in Sto...,93.0,2.94,Cinetofon
250968,1156023,To Steal a Thief,1996.0,"Robert Gustafsson i en komedi om inbrott, avbr...",Roger is a failed petty criminal living in Sto...,93.0,2.94,Sandrews
250969,1156023,To Steal a Thief,1996.0,"Robert Gustafsson i en komedi om inbrott, avbr...",Roger is a failed petty criminal living in Sto...,93.0,2.94,Blackstone Pictures AB
253721,1158774,As Seen On Tv,2001.0,NaN,Alexander is a talk show host on TV and a part...,101.0,3.16,SF Studios
255307,1160453,Merajiha,2014.0,NaN,NaN,97.0,2.27,Simaye Mehr

In [4]:
#groupby para agrupar por estudio, aplicando promedio en rating
relacion_estudio_promedio_ranking = merged_filtered.groupby('studio')['rating'].mean().sort_values(ascending=False)
relacion_estudio_promedio_ranking

studio
Talking Heads Films       4.660000
Arnold Stiefel Company    4.660000
Maguffin                  4.630000
Techno Sound              4.630000
Orion-Nova Productions    4.620000
                            ...
Ink Pine Media            1.130000
ITN Studios               1.120000
Future Space              1.093333
Night Dove Pictures       1.090000
World Film Magic          0.890000
Name: rating, Length: 45769, dtype: float64

In [56]:
#Podemos notar que en los primeros 10, el primero consiste en un estudio que hizo pocas películas y de un género muy específico (conciertos)
relacion_estudio_promedio_ranking.head(10)

studio
Talking Heads Films        4.660
Arnold Stiefel Company     4.660
Maguffin                   4.630
Techno Sound               4.630
Orion-Nova Productions     4.620
Lynch/Frost Productions    4.595
Fiery Angel                4.590
DryWrite                   4.590
Twin Peaks Productions     4.590
Annapurna Theatre          4.590
Name: rating, dtype: float64