# Rating promedio por temática

In [2]:

import pandas as pd
import matplotlib.pyplot as plt

In [5]:
movies = pd.read_csv('movies.csv', encoding = "UTF-8")
genres = pd.read_csv('genres.csv', encoding = "UTF-8")

#Merge de ambos dataframes juntando por id
merged = pd.merge(movies,genres, on ="id" , how = "inner")
filtered_merged = merged.dropna(subset=['rating'])
filtered_merged

,id,name,date,tagline,description,minute,rating,genre
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,Comedy
1,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,Fantasy
2,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.91,Adventure
3,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.57,Comedy
4,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.57,Thriller
...,...,...,...,...,...,...,...,...
282588,1154616,Kutti Puli,2013.0,NaN,"After losing her husband at a young age, Deiva...",150.0,2.89,Action
282589,1154616,Kutti Puli,2013.0,NaN,"After losing her husband at a young age, Deiva...",150.0,2.89,Thriller
284707,1156023,To Steal a Thief,1996.0,"Robert Gustafsson i en komedi om inbrott, avbr...",Roger is a failed petty criminal living in Sto...,93.0,2.94,Comedy
284708,1156023,To Steal a Thief,1996.0,"Robert Gustafsson i en komedi om inbrott, avbr...",Roger is a failed petty criminal living in Sto...,93.0,2.94,Crime
288747,1158774,As Seen On Tv,2001.0,NaN,Alexander is a talk show host on TV and a part...,101.0,3.16,Comedy

In [9]:
#hacemos groupby para agrupar por género, luego promedio y al final un sort para que se vea descendiente
relacion_genero_ranking_promedio = filtered_merged.groupby('genre')['rating'].mean().sort_values(ascending = False)
relacion_genero_ranking_promedio

genre
Documentary        3.515273
Music              3.429995
History            3.396556
War                3.377184
Animation          3.353660
Drama              3.327546
Western            3.287519
Crime              3.244932
Romance            3.198677
Mystery            3.179767
Comedy             3.178185
Fantasy            3.149481
Family             3.110437
TV Movie           3.106525
Adventure          3.096072
Action             3.053885
Thriller           3.050693
Science Fiction    3.028523
Horror             2.924534
Name: rating, dtype: float64

# Género más popular por década

In [23]:
#Idea: mostrar la temática más popular a través de las decadas
#Agrupamos por década y simplificamos el gráfico
merged['decade'] = (merged['date']//10)*10
simplified_merged = merged[['decade','genre','rating']]
filtered_simplified_merged = simplified_merged.dropna(subset = ['rating'])
filtered_simplified_merged

        decade      genre  rating
0       2020.0     Comedy    3.91
1       2020.0    Fantasy    3.91
2       2020.0  Adventure    3.91
3       2010.0     Comedy    4.57
4       2010.0   Thriller    4.57
...        ...        ...     ...
282588  2010.0     Action    2.89
282589  2010.0   Thriller    2.89
284707  1990.0     Comedy    2.94
284708  1990.0      Crime    2.94
288747  2000.0     Comedy    3.16

[173380 rows x 3 columns]

In [26]:
genre_count_by_decade = filtered_simplified_merged.groupby(['decade','genre']).size().reset_index(name='count')
#idxmax no la conocía, agarra el máximo de count (el género con más ocurrencia) y lo entrega con indice
most_popular_decade = genre_count_by_decade.loc[genre_count_by_decade.groupby('decade')['count'].idxmax()]
most_popular_decade

     decade        genre  count
0    1870.0    Animation     26
3    1880.0  Documentary     11
8    1890.0  Documentary    206
23   1900.0       Comedy    146
41   1910.0       Comedy    163
61   1920.0        Drama    313
76   1930.0       Comedy    751
97   1940.0        Drama    778
115  1950.0        Drama   1162
134  1960.0        Drama   1666
153  1970.0        Drama   2274
172  1980.0        Drama   2297
191  1990.0        Drama   3107
210  2000.0        Drama   5819
229  2010.0        Drama  11956
248  2020.0        Drama   6221