In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
movies = pd.read_csv('..\data\movies.csv')
countries = pd.read_csv('..\data\countries.csv')
genres = pd.read_csv('..\data\genres.csv')

### Exploración datos

#### movies

In [27]:
""" Revisar si hay NA en movies - rating"""


# Verificar si hay valores NA en la columna 'country'
hay_na_country = movies['rating'].isna().any()
na_country_count = movies['rating'].isna().sum()

print(f'¿Hay valores NA en la columna country? {hay_na_country}')
print(f'Número de valores NA en la columna country: {na_country_count}')

# Encontrar una fila con un valor NA en la columna 'country'
fila_con_na = movies[movies['rating'].isna()].head()

print("Ejemplo de fila con valor NA en 'rating':")
print(fila_con_na)

¿Hay valores NA en la columna country? True
Número de valores NA en la columna country: 810786
Ejemplo de fila con valor NA en 'rating':
           id                                 name    date  \
1923  1001924                       Dune: Part Two  2024.0
2741  1002742                            Nosferatu  2024.0
3296  1003297                             MaXXXine     NaN
3672  1003673  Spider-Man: Beyond the Spider-Verse     NaN
3838  1003839                            Mickey 17     NaN

                        tagline  \
1923    Long live the fighters.
2741                        NaN
3296  Hollywood Here She Comes!
3672                        NaN
3838                        NaN

                                            description  minute  rating
1923  Follow the mythic journey of Paul Atreides as ...   166.0     NaN
2741  A gothic tale of obsession between a haunted y...     NaN     NaN
3296  Six years after the 'Texas Pornhouse Massacre'...     NaN     NaN
3672  Taking place right after the events of Spider-...     NaN     NaN
3838  Mickey 17 is an "expendable", a disposable emp...   139.0     NaN

In [30]:
""" Revisar si hay NA en movies - minute"""


# Verificar si hay valores NA en la columna 'country'
hay_na_country = movies['minute'].isna().any()
na_country_count = movies['minute'].isna().sum()

print(f'¿Hay valores NA en la columna country? {hay_na_country}')
print(f'Número de valores NA en la columna country: {na_country_count}')

# Encontrar una fila con un valor NA en la columna 'country'
fila_con_na = movies[movies['minute'].isna()].head()

print("Ejemplo de fila con valor NA en 'minute':")
print(fila_con_na)

¿Hay valores NA en la columna country? True
Número de valores NA en la columna country: 187050
Ejemplo de fila con valor NA en 'minute':
           id                                 name    date  \
2741  1002742                            Nosferatu  2024.0
3296  1003297                             MaXXXine     NaN
3672  1003673  Spider-Man: Beyond the Spider-Verse     NaN
4165  1004166                           Deadpool 3  2024.0
4325  1004326                  Joker: Folie à Deux  2024.0

                        tagline  \
2741                        NaN
3296  Hollywood Here She Comes!
3672                        NaN
4165                        NaN
4325                        NaN

                                            description  minute  rating
2741  A gothic tale of obsession between a haunted y...     NaN     NaN
3296  Six years after the 'Texas Pornhouse Massacre'...     NaN     NaN
3672  Taking place right after the events of Spider-...     NaN     NaN
4165  Third entry in the "Deadpool" franchise. Plot ...     NaN     NaN
4325                   A sequel to the 2019 film Joker.     NaN     NaN

#### countries

In [13]:
""" Revisar si hay NA en movies - genres """

# Combinar las bases de datos 'movies' con 'countries' en base al 'id' de la película
movies_countries = pd.merge(movies, countries, on='id', how='left')

# Verificar si hay valores NA en la columna 'country'
hay_na_country = movies_countries['country'].isna().any()
na_country_count = movies_countries['country'].isna().sum()

print(f'¿Hay valores NA en la columna country? {hay_na_country}')
print(f'Número de valores NA en la columna country: {na_country_count}')

# Encontrar una fila con un valor NA en la columna 'country'
fila_con_na = movies_countries[movies_countries['country'].isna()].head(3)

print("Ejemplo de fila con valor NA en 'country':")
print(fila_con_na)

¿Hay valores NA en la columna country? True
Número de valores NA en la columna country: 342600
Ejemplo de fila con valor NA en 'country':
           id                                        name    date  \
2359  1001584                 Black Mirror: Joan Is Awful  2023.0
2882  1001937  Euphoria: F*ck Anyone Who’s Not a Sea Blob  2021.0
2959  1001987                    Black Mirror: Loch Henry  2023.0

                  tagline                                        description  \
2359  Season 6, Episode 1  An average woman is stunned to discover a glob...
2882        Part 2: Jules  Over the Christmas holiday, Jules reflects on ...
2959  Season 6, Episode 2  A young couple travel to a sleepy Scottish tow...

      minute  rating country
2359    56.0    3.12     NaN
2882    48.0    4.22     NaN
2959    60.0    3.49     NaN

In [15]:
# Supongamos que 'id_busqueda' es la id que quieres buscar en la base de datos 'countries'
id_busqueda = 1001987

# Buscar el país correspondiente a la 'id_busqueda'
fila_correspondiente = countries[countries['id'] == id_busqueda]

if not fila_correspondiente.empty:
    pais_correspondiente = fila_correspondiente['country'].iloc[0]
    print(f"El país correspondiente a la id {id_busqueda} es: {pais_correspondiente}")
else:
    print(f"No se encontró ninguna fila con la id {id_busqueda} en la base de datos 'countries'.")

No se encontró ninguna fila con la id 1001987 en la base de datos 'countries'.

#### genres

In [17]:
# Combinar las bases de datos 'movies' con 'genres' en base al 'id' de la película
movies_genres = pd.merge(movies, genres, on='id', how='left')

# Verificar si hay valores NA en la columna 'genre'
hay_na_genre = movies_genres['genre'].isna().any()
na_genre_count = movies_genres['genre'].isna().sum()

print(f'¿Hay valores NA en la columna genre? {hay_na_genre}')
print(f'Número de valores NA en la columna genre: {na_genre_count}')

# Encontrar filas con valores NA en la columna 'genre' (mostramos los primeros 3 ejemplos)
filas_con_na_genre = movies_genres[movies_genres['genre'].isna()].head(3)

print("Ejemplos de filas con valor NA en 'genre':")
print(filas_con_na_genre)

¿Hay valores NA en la columna genre? True
Número de valores NA en la columna genre: 257756
Ejemplos de filas con valor NA en 'genre':
            id                   name    date  \
3848   1001437         Obi-Wan Kenobi  2022.0
13042  1005093                 Ahsoka  2023.0
13721  1005373  The Book of Boba Fett  2021.0

                                           tagline  \
3848   Between darkness and defeat, hope survives.
13042               Warrior. Outcast. Rebel. Jedi.
13721              Every galaxy has an underworld.

                                             description  minute  rating genre
3848   During the reign of the Galactic Empire, forme...   280.0    3.12   NaN
13042  Former Jedi Knight Ahsoka Tano investigates an...   368.0    3.45   NaN
13721  Legendary bounty hunter Boba Fett and mercenar...   348.0    2.59   NaN

In [20]:
# Supongamos que 'id_busqueda' es la id que quieres buscar en la base de datos 'genres'
id_busqueda = 1005374

# Buscar el género correspondiente a la 'id_busqueda'
fila_correspondiente = genres[genres['id'] == id_busqueda]

if not fila_correspondiente.empty:
    genero_correspondiente = fila_correspondiente['genre'].iloc[0]
    print(f"El género correspondiente a la id {id_busqueda} es: {genero_correspondiente}")
else:
    print(f"No se encontró ninguna fila con la id {id_busqueda} en la base de datos 'genres'.")

El género correspondiente a la id 1005374 es: Drama

### Juntar las bd

In [31]:
""" Juntar  las bd """

movies_clear = movies.dropna(subset=['rating','minute'])

# Agrupar los países por 'id', creando listas de países para cada 'id'
countries_grouped = countries.groupby('id')['country'].apply(list).reset_index()

# Agrupar los géneros por 'id', creando listas de géneros para cada 'id'
genres_grouped = genres.groupby('id')['genre'].apply(list).reset_index()

# Combinar las bases de datos
# Primero combinamos 'movies' con 'countries_grouped' en base al 'id' de la película
movies_countries = pd.merge(movies_clear, countries_grouped, on='id', how='left')

# Luego combinamos el resultado anterior con 'genres_grouped' en base al 'id' de la película
movies_countries_genres = pd.merge(movies_countries, genres_grouped, on='id', how='left')
movies_countries_genres = movies_countries_genres.dropna(subset=['country', 'genre'])

# Visualizar la base de datos final
print(movies_countries_genres.head())

        id                               name    date  \
0  1000001                             Barbie  2023.0
1  1000002                           Parasite  2019.0
2  1000003  Everything Everywhere All at Once  2022.0
3  1000004                         Fight Club  1999.0
4  1000005                       Interstellar  2014.0

                                             tagline  \
0                   She's everything. He's just Ken.
1                        Act like you own the place.
2   The universe is so much bigger than you realize.
3                            Mischief. Mayhem. Soap.
4  Mankind was born on Earth. It was never meant ...

                                         description  minute  rating  \
0  Barbie and Ken are having the time of their li...   114.0    3.91
1  All unemployed, Ki-taek's family takes peculia...   133.0    4.57
2  An aging Chinese immigrant is swept up in an i...   140.0    4.32
3  A ticking-time-bomb insomniac and a slippery s...   139.0    4.27
4  The adventures of a group of explorers who mak...   169.0    4.32

          country                                 genre
0       [UK, USA]          [Comedy, Fantasy, Adventure]
1   [South Korea]             [Comedy, Thriller, Drama]
2           [USA]  [Science Fiction, Action, Adventure]
3  [Germany, USA]                               [Drama]
4       [UK, USA]   [Science Fiction, Drama, Adventure]

In [32]:
num_peliculas = len(movies_countries_genres)
print(f'Número de películas: {num_peliculas}')
#Número de películas: 896400 (sin limpiar)
#Número de películas: 489968 (limpiado genre y country)
#Número de películas: 80762 (Limpiado genre - country - rating)
#Número de películas: 80339 (Limpiado genre - country - rating - minute)

Número de películas: 80339